/*Letra nombre pokemon*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Kanit:wght@300&family=League+Spartan:wght@500;600&family=Nunito&family=PT+Sans:wght@700&family=Poppins:wght@300;500&family=Rubik:wght@300&display=swap');

html, body{
    background-image: url("../Recursos/Forest\ Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Barra-sup{
    width: 100%;
    background-color: brown;
}

.Logo-Pokemon{
    width: 140px;
    margin-left: 30PX;
}

.body-pokedex{
    display: flex;
    justify-content: center;
}

.Pokedex{
    position: relative;
    width: 390px;
    height: 770px;
    background-image:url("../Recursos/Kalos-Pokedex.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid;
    border-radius: 25px;
}

.cont-Pokedex{
    position: absolute;
    z-index: 1;
    margin-top: 155px;
    margin-left: 4px;
    width: 384px;
    height: 460px;
}

.cont-searcher{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.searcher-icon{
    padding: 5px;
    border-width: 1px;
    border-color: #cccccc;
    background: transparent;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(66,66,66,.75);
}

.Searcher{
    border-style: none;
    background: transparent;
    font-size: 14px;
    padding: 5px;
}

.Pokeball{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 5px;
}

.cont-central{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
}

.main{
    width: 100%;
    height: 130px;
}

.inf-main-poke{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-family: 'Kanit', sans-serif;
    font-style: Light 300;
}

.Caret{ 
    border-radius: 8px;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#pokemonType{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    gap: 0 12px;
}

#pokemonType li{
    padding: 2px 8px;
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    border-radius: 24px;
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 2px;
    list-style: none;
}

.tipo-normal {
    outline-color: #A8A77A;
    background-color: #A8A77A;
}
.tipo-fuego {
    outline-color: #f08030;
    background-color: #f08030;
}
.tipo-agua {
    outline-color: #67d2f1;
    background-color: #67d2f1;
}
.tipo-electrico {
    outline-color: #f8d030;
    background-color: #f8d030;
}
.tipo-planta {
    outline-color: #78c850;
    background-color: #78c850;
}
.tipo-volador {
    outline-color: #c8c0f8;
    background-color: #c8c0f8;
}
.tipo-lucha {
    color: #fff;
    outline-color: #c03028;
    background-color: #c03028;
}
.tipo-veneno {
    color: white;
    outline-color: #a040a0;
    background-color: #a040a0;
}
.tipo-tierra {
    outline-color: #e0c068;
    background-color: #e0c068;
}
.tipo-roca {
    outline-color: #b8a038;
    background-color: #b8a038;
}
.tipo-psiquico {
    outline-color: #f85888;
    background-color: #f85888;
}
.tipo-hielo {
    outline-color: #98d8d8;
    background-color: #98d8d8;
}
.tipo-bicho {
    outline-color: #a8b820;
    background-color: #a8b820;
}
.tipo-fantasma {
    color:white;
    outline-color: #705898;
    background-color: #705898;
}
.tipo-acero {
    color: white;
    outline-color: #696969;
    background-color: #696969;
}
.tipo-dragon {
    color: #fff;
    outline-color: #7038f8;
    background-color: #7038f8;
}
.tipo-siniestro {
    color: #fff;
    outline-color: #705848;
    background-color: #705848;
}
.tipo-hada  {
    outline-color: #f4bdc9;
    background-color: #f4bdc9;
}

.tipo-error{
    outline-color: red;
    background-color: red;
}

.buttons-Info{
    margin-top: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.BUTTON_HABS {
    background: #5EA0E9;
    background-image: -webkit-linear-gradient(top, #5EA0E9, #1D65DB);
    background-image: -moz-linear-gradient(top, #5EA0E9, #1D65DB);
    background-image: -ms-linear-gradient(top, #5EA0E9, #1D65DB);
    background-image: -o-linear-gradient(top, #5EA0E9, #1D65DB);
    background-image: -webkit-gradient(to bottom, #5EA0E9, #1D65DB);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 8px 0 #000000;
    -moz-box-shadow: 0 1px 8px 0 #000000;
    box-shadow: 0 1px 8px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
 }

.stadisctics{
    position: absolute;
    z-index: 2;
    background-color: #89cfdb;
    margin-top: 228px;
    margin-left: 15px;
    width: 360px;
    height: 260px;
    opacity: 95%;
    border-radius: 20px;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.listas{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.moves{
    position: absolute;
    z-index: 3;
    background-color: #89cfdb;
    margin-top: 228px;
    margin-left: 15px;
    width: 360px;
    height: 260px;
    opacity: 95%;
    border-radius: 20px;
    overflow: auto;
}